
.vs/CompanyManagementApp/v17/.suo
.vs/CompanyManagementApp/FileContentIndex/fd248845-6930-46ca-855d-3ea075c99811.vsidx
.vs/ProjectEvaluation/companymanagementapp.metadata.v9.bin
.vs/ProjectEvaluation/companymanagementapp.projects.v9.bin
.vs/CompanyManagementApp/v17/DocumentLayout.json
.vs/CompanyManagementApp/v17/DocumentLayout.backup.json
.vs/CompanyManagementApp/FileContentIndex/e0a55261-fa1b-4218-94e9-aa900d6a8aa2.vsidx
.vs/CompanyManagementApp/FileContentIndex/ddeb0567-c5cf-4d5d-b35f-b77b8271ed4d.vsidx
.vs/CompanyManagementApp/FileContentIndex/36342304-8ae9-49da-b908-80dacb2dd7f0.vsidx
.vs/CompanyManagementApp/FileContentIndex/3326b1a7-a516-4432-b83f-ba80024a1ab8.vsidx
.vs/CompanyManagementApp/v17/.futdcache.v2
.vs/CompanyManagementApp/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/companymanagementapp.strings.v9.bin
