
.vs/CompanyManagementApp/v17/.suo
.vs/CompanyManagementApp/FileContentIndex/fd248845-6930-46ca-855d-3ea075c99811.vsidx
.vs/ProjectEvaluation/companymanagementapp.metadata.v9.bin
.vs/ProjectEvaluation/companymanagementapp.projects.v9.bin
.vs/CompanyManagementApp/v17/DocumentLayout.json
.vs/CompanyManagementApp/v17/DocumentLayout.backup.json
.vs/CompanyManagementApp/FileContentIndex/e0a55261-fa1b-4218-94e9-aa900d6a8aa2.vsidx
.vs/CompanyManagementApp/FileContentIndex/ddeb0567-c5cf-4d5d-b35f-b77b8271ed4d.vsidx
.vs/CompanyManagementApp/FileContentIndex/36342304-8ae9-49da-b908-80dacb2dd7f0.vsidx
.vs/CompanyManagementApp/FileContentIndex/3326b1a7-a516-4432-b83f-ba80024a1ab8.vsidx
.vs/CompanyManagementApp/v17/.futdcache.v2
.vs/CompanyManagementApp/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/companymanagementapp.strings.v9.bin
*.vsidx
/.vs/CompanyManagementApp/config
/CompanyManagementApp.API/obj
/CompanyManagementApp.DAL/bin
/CompanyManagementApp.DAL/obj
/CompanyManagementApp.Entities/bin
/CompanyManagementApp.API/bin
/CompanyManagementApp.Entities/obj
/CompanyManagementApp.BAL/bin
/CompanyManagementApp.BAL/obj
/CompanyManagementApp.UI/bin
/CompanyManagementApp.UI/obj
CompanyManagementApp.API/obj/CompanyManagementApp.API.csproj.nuget.dgspec.json
CompanyManagementApp.API/obj/CompanyManagementApp.API.csproj.nuget.dgspec.json
CompanyManagementApp.API/obj/CompanyManagementApp.API.csproj.nuget.g.props
CompanyManagementApp.API/obj/CompanyManagementApp.API.csproj.nuget.g.targets
CompanyManagementApp.API/obj/Debug/net8.0/CompanyManagementApp.API.AssemblyInfo.cs
/CompanyManagementApp.API/obj/Debug/net8.0/CompanyManagementApp.API.AssemblyInfo.cs
/CompanyManagementApp.API/obj/Debug/net8.0/CompanyManagementApp.API.AssemblyInfoInputs.cache
/CompanyManagementApp.BAL/obj/Debug/net8.0/CompanyManagementApp.BAL.AssemblyInfo.cs
/CompanyManagementApp.BAL/obj/Debug/net8.0/CompanyManagementApp.BAL.AssemblyInfoInputs.cache
/CompanyManagementApp.DAL/obj/Debug/net8.0/CompanyManagementApp.DAL.AssemblyInfoInputs.cache
/CompanyManagementApp.DAL/obj/Debug/net8.0/CompanyManagementApp.DAL.AssemblyInfo.cs
/CompanyManagementApp.Entities/obj/Debug/net8.0/CompanyManagementApp.Entities.AssemblyInfo.cs
/CompanyManagementApp.Entities/obj/Debug/net8.0/CompanyManagementApp.Entities.AssemblyInfoInputs.cache
/CompanyManagementApp.UI/obj/Debug/net8.0/CompanyManagementApp.UI.AssemblyInfo.cs
/CompanyManagementApp.UI/obj/Debug/net8.0/CompanyManagementApp.UI.AssemblyInfoInputs.cache
CompanyManagementApp.API/obj/Debug/net8.0/CompanyManagementApp.API.AssemblyInfo.cs
/CompanyManagementApp.API/obj/Debug/net8.0/CompanyManagementApp.API.AssemblyInfo.cs
/CompanyManagementApp.API/obj/Debug/net8.0/CompanyManagementApp.API.AssemblyInfoInputs.cache
/CompanyManagementApp.BAL/obj/Debug/net8.0/CompanyManagementApp.BAL.AssemblyInfo.cs
/CompanyManagementApp.BAL/obj/Debug/net8.0/CompanyManagementApp.BAL.AssemblyInfoInputs.cache
/CompanyManagementApp.DAL/obj/Debug/net8.0/CompanyManagementApp.DAL.AssemblyInfoInputs.cache
/CompanyManagementApp.Entities/obj/Debug/net8.0/CompanyManagementApp.Entities.AssemblyInfo.cs
/CompanyManagementApp.Entities/obj/Debug/net8.0/CompanyManagementApp.Entities.AssemblyInfoInputs.cache
/CompanyManagementApp.UI/obj/Debug/net8.0/CompanyManagementApp.UI.AssemblyInfo.cs
/CompanyManagementApp.DAL/obj/Debug/net8.0/CompanyManagementApp.DAL.AssemblyInfo.cs
/CompanyManagementApp.UI/obj/Debug/net8.0/CompanyManagementApp.UI.AssemblyInfoInputs.cache
